scenario_name: "pony_data"

local_data {
  lidar_dir: "/home/ycdfwzy/autonomous_driving/PublicCourse/perception_project/20171229_nanian_130255/select/VelodyneDevice32c"
  label_dir: "/home/ycdfwzy/autonomous_driving/PublicCourse/perception_project/20171229_nanian_130255/label/VelodyneDevice32c"
  #camera_dir: "/home/ycdfwzy/autonomous_driving/PublicCourse/perception_project/20171229_nanian_130255/select/GigECameraDeviceWideAngle"
}

