scenario_name: "pony_data"

local_data {
  lidar_dir: "/home/ycdfwzy/autonomous_driving/PublicCourse/perception_project/test/select/VelodyneDevice32c"
  label_dir: "/home/ycdfwzy/autonomous_driving/PublicCourse/perception_project/test/label/VelodyneDevice32c"
  #camera_dir: "/home/ycdfwzy/autonomous_driving/PublicCourse/perception_project/test/select/GigECameraDeviceWideAngle"
}